.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
.navigation-container4 {
  display: none;
}
 
.navigation-container5 {
  display: contents;
}
 
.navigation-container6 {
  display: none;
}
 
.navigation-container7 {
  display: contents;
}

.work-showcase-wrapper {
  display: contents;
}
 
.work-showcase-container1 {
  display: contents;
}
 
.work-showcase-container2 {
  display: none;
}
 
.work-showcase-container3 {
  display: contents;
}
 
.work-showcase-container4 {
  display: none;
}
 
.work-showcase-container5 {
  display: contents;
}

.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-thq-footer-link-elm5 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.home-container10 {
  width: 100%;
  display: block;
  min-height: 100vh;
}
 
.home-thq-hero-overlay-elm {
  background-color: rgba(255, 255, 255, 0.65) !important;
}

.hero-overlay {
  background-color: rgba(255, 255, 255, 0.65) !important;
}
 
.home-thq-hero-cta-group-elm {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
 
.home-thq-services-snapshot-elm {
  min-height: auto;
}

.home-thq-services-grid-elm {
  min-height: auto;
}

.home-thq-service-card-elm1 {
  min-height: auto;
}

.home-thq-service-image-elm1 {
  height: 100%;
}

.home-thq-service-card-elm2 {
  min-height: auto;
}
 
.home-container11 {
  flex: 0 0 auto;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.home-thq-process-steps-elm {
  min-height: auto;
}
 
.home-thq-step-visual-elm1 {
  align-items: center;
  justify-content: center;
}
 
.home-container13 {
  display: none;
}
 
.home-container14 {
  display: contents;
}
 
.home-container15 {
  display: none;
}
 
.home-container16 {
  display: contents;
}
 
.home-container17 {
  display: none;
}
 
.home-container18 {
  display: contents;
}
 
.home-container19 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.home-icon63 {
  width: 24px;
  margin-right: 4px;
}
 
.home-text7 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
