.work-showcase-container1 {
  display: contents;
}
 
.work-showcase-container2 {
  display: none;
}
 
.work-showcase-container3 {
  display: contents;
}
 
.work-showcase-container4 {
  display: none;
}
 
.work-showcase-container5 {
  display: contents;
}
